<div class = "container">
  <h3>商品編集</h3>
    <div class = "row justify-content-center">
      <div class = "col-md-6">
        <div>
          <%= form_with model: @item, url: admin_items_path, local:true do |f| %>
            <div class="row my-lg-2">
              <div class="col-3">
                <%= f.label "商品画像" %>
              </div>
              <div class="col-7 px-0">
              <%= f.file_field :item_image, class: "form-control-file item_image", accept: 'image/*' %>
              </div>
            </div>
            <div class="row my-lg-2">
              <div class="col-3">
                <%= f.label :"商品名" %>
              </div>
              <div class="col-7 px-0">
                <%= f.text_field :name, class: 'form-control item_name' %>
              </div>
            </div>
            <div class="row my-lg-2 ">
              <div class="col-3">
                 <%= f.label :"商品説明" %>
              </div>
              <div class="col-7 px-0">
                 <%= f.text_area :introduction, class: 'form-control item_introduction',:size=>"40x8"  %>
             </div>
            </div>
            <div class="row my-lg-2">
              <div class="col-3">
                <%= f.label :"ジャンル" %>
              </div>
              <div class="col-7 px-0">
                <%= f.select :genre_id, options_for_select(@genres.map { |genre| [genre.name, genre.id] }),
                { include_blank: "-- 選択してください --" }, {required: true, class: +"form-control", id: "genre-select" } %>
              </div>
            </div>
            <div class="row my-lg-2">
              <div class="col-3">
                <%= f.label :"税抜価格" %>
              </div>
               <div class="col-7 px-0">
                <%= f.text_field :price_excluding_tax, class: 'form-control item_price'%>
              </div>
                <%= f.label :"円" %>
            </div>
            <div class="row my-lg-2">
              <div class="col-4">
                <%= f.label :"販売ステータス" %>
              </div>
              <div class="col-2">
                <%= f.radio_button :is_sales_status, true %>販売中
              </div>
              <div class="col-3">
                <%= f.radio_button :is_sales_status, false  %>販売停止中
              </div>
            </div>
            <div class="row my-lg-2 justify-content-md-center ">
              <div class="col-md-3 ">
               <%= f.submit "変更を保存", class: 'btn btn-success btn-lg' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>
