<div class="container">
  <div class="form-row">
    <div class="col-5 form-group">
      <div style=" color: white; background: #cbe6be; padding: 5px; border: 2px dashed rgba(255 , 255 , 255 , 0.5);
                        -moz-border-radius: 6px; -moz-box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
                        -webkit-border-radius: 6px; -webkit-box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
                        border-radius: 6px; box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5); ">
        <h1 class="text-center", style="color: #48120E">
          管理者ログイン
        </h1>
      </div>
    </div>
  </div>
  <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= form_with(model: resource, local: true, url: session_path(resource_name)) do |f| %>
    <div class="form-row">
      <div class="col-3 form-group mt-5 ml-5">
        <%= f.label "メールアドレス" %>
      </div>
      <div class="col-5 form-group mt-5 ml-5">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>
    <div class="form-row">
      <div class="col-3 form-group mt-5 ml-5">
        <%= f.label "パスワード" %>
      </div>
      <div class="col-5 form-group mt-5 ml-5">
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>
    </div>
      <div class="form-row justify-content-center">
        <div class="col-3 form-group mt-5">
          <div style="border: 2px solid #bee6df; padding: 2px; border-radius: 5px; text-align: center;">
            <div style="background-color: #bee6df; border-radius: 5px;">
              <%= f.submit "ログイン",class:"btn form-control"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= render "admin/shared/links" %>
</div>