 <div class="col-4 mx-auto form-group rounded" >
    
      <h3>ジャンル一覧・追加</h3>
      <tr>
        <%= form_with model: @genre, url: admin_genres_path do |f| %>
          <div class="d-flex mt-3">
            <%= f.text_field :name, placeholder: "新規ジャンル名", class: "form-control me-3" %>
            <%= f.submit "作成", class:"btn font-bold", style: "background-color: #ffe9a9; color: #48120E;" %>
          </div>
        <% end %>
            <th>ジャンル</th>
            <table class="table mb-0 table-striped" style="background:#f5f5dc" >
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
              <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class:"btn font-bold", style: "background-color: #ffe9a9; color: #1A120B;" %></td>
            </tr>
          <%end%>
      </tr>
    </table>
  </div>