<div class="container">
  <div class="row　pb-5 justify-content-md-center">
    <div style=" color: white; background: #cbe6be; padding: 10px; border: 2px dashed rgba(255 , 255 , 255 , 0.5);
                          -moz-border-radius: 6px; -moz-box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
                          -webkit-border-radius: 6px; -webkit-box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
                          border-radius: 6px; box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5); ">
      <h4 class="text-center", style="color: #48120E">
        <i class="fa-solid fa-cookie-bite" style="color: #b37039;"></i>
         <%= @customer.family_name %><%= @customer.first_name %>さんの注文履歴
 
        <i class="fa-solid fa-cookie-bite" style="color: #b37039;"></i>
      </h4>
    </div>
  </div>
  <div class = "mt-4 pt-3">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>購入日時</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= link_to admin_order_path(order.id) do %>
              <%= order.created_at.strftime("%Y/%m/%d %H:%M") %><% end %></td>
            <td><%= order.order_details.sum(:quantity).to_i %></td>
            <td>
              <%= t("enums.order.status.#{order.status}") %>
            </td>
          </tr>
        <% end %>
     </tbody>
    </table>
  </div>
</div>
<div class = "mx-auto" ><%= paginate @orders %></div>
