<h3>商品一覧</h3>

<%= link_to 'Latest',items_path(latest: true) %>

<%= link_to 'Price:High to Low', items_path(price_high_to_low: true) %>

<%= link_to'Price:Low to High', items_path(price_low_to_high: true) %>

<% @items.each do |item| %>
  <%= link_to item_path(item) do %>
    <p><%= item.name %></p>
    <span>
      <%= number_to_currency(item.price_excluding_tax, unit: "¥", strip_insignificant_zeros: true) %>
    </span>
  <% end %>
<% end %>